.chart-wrapper data-index=chart_index
  .legend
  .canvas-wrapper
    canvas height='200'
  .axis-labels
    .axis-label.axis-label-y1
    .axis-label.axis-label-y2
    .axis-label.axis-label-x
  .title= chart_title
