- countries = {}
- ISO3166::Country.all.each do |c|
  - countries[c.name] = c.alpha2.downcase
  - c.names.each do |n|
    - countries[n] = c.alpha2.downcase
javascript:
  var countries = #{raw countries.to_json};
  var country_code = null;
  $(document).ready(function () {
    orp.ready(function () {
      orp.getLocation(function (err, result) {
        if (!err) {
          console.log(result);
          var country_name = result['country'];
          country_code = countries[country_name];
        } else {
          console.log(err.message);
        }
        if (!country_code) country_code = 'ht';
        var url = '/dashboard/' + country_code + '/total';
        window.location.href = url;
      });
    });
  });
