h1.dash-title
  => @country&.name
  ' Roads

.dashboard-layout
  .row
    section.col-sm-2.road-kinds-section
      h3 Select road category
      ul.kinds-list
        - road_options.each do |label, key|
          li> data-kind=key
            span.marker>
            = link_to label, country_dashboard_path(@country_code, key), data: { kind: key }

    section.col-sm-10.chart-section
      h3 Statistics

      .row
        form.dashboard-filter.form-inline
          .col-md-8.col-sm-12.filter-block
            label> Dates
            = render 'datepicker', name: 'from'
            span.hidden-xs>< —
            = render 'datepicker', name: 'till'
            button.apply.btn.btn-primary.btn-sm< Apply
          .col-md-4.col-sm-12.filter-block
            .units-selector-wrapper
              label<> Measure
              .btn-group.btn-group-sm.units-selector
                button.btn.btn-default type="button" data-units='miles' Miles
                button.btn.btn-default type="button" data-units='kms' Kilometers
        
      .row
        .col-sm-6= render 'chart', chart_index: 0, chart_title: ""
        .col-sm-6= render 'chart', chart_index: 1, chart_title: ""

      .row
        section.map-section.col-md-12
          #map


javascript:
  window.appBootstrapData = #{@appdata.to_json.html_safe}
  window.appRoadTypeNames = #{road_options.to_h.invert.to_json.html_safe}
  window.appCountriesToCodes = #{ ISO3166::Country.all.map { |country| [country.short_name, country.alpha2.downcase] }.to_h.to_json.html_safe }
  
