// = require leaflet/dist/leaflet
// = require bootstrap-datepicker/dist/css/bootstrap-datepicker3
// = require typeahead
// = require_self

$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/"

$navbar-inverse-bg: #203ab1
$navbar-inverse-link-color: white
$navbar-default-link-color: #444
$navbar-height: 64px

@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets"
@import "bootstrap-sass/assets/stylesheets/bootstrap"
@import "bootstrap-sass/assets/stylesheets/bootstrap/theme"
// @import "typeahead"

= phone
  @media screen and (max-width: $screen-sm-min - 1)
    @content

= non-phone
  @media screen and (min-width: $screen-sm-min)
    @content

@import "dashboard"
@import "charts"

.navbar
  margin-bottom: 0px

h1
  text-align: center
  margin-top: 10px

// move leaflet attribution behind the datepicker
.leaflet-bottom.leaflet-right
  z-index: 10

.navbar-brand img
  height: 18px
