.chart-wrapper
  margin-bottom: 1em
  position: relative

  .canvas-wrapper
    // margin: 0 auto
    // width: calc(100% - 30px)

  .axis-label
    color: #666
    font-size: 12px
    letter-spacing: 1px

    &.axis-label-x
      position: absolute
      width: 100%
      text-align: center
      bottom: 0

    &.axis-label-y1
      position: absolute
      left: -20px
      bottom: 50%
      transform: rotate(-90deg)

    &.axis-label-y2
      position: absolute
      right: -8px
      bottom: 50%
      transform: rotate(90deg)

  .title
    text-align: left

  .legend
    text-align: center
    margin: 8px 0
    // cursor: pointer

    .legend-label
      display: inline-block
      padding-right: 8px
      &.active
        .title
          // color: black

    .legend-label .symbol
      display: inline-block
      width: 40px
      height: 15px
      margin-right: .3em
      border: 3px solid gray
      background-color: #aaa
      vertical-align: -2px
      &.green
        background: rgba(75,192,192,0.2)
        border-color: rgba(75,192,192,1)
      &.blue
        background: rgba(151,187,205,0.2)
        border-color: rgba(151,187,205,1)
      &.red
        background: rgba(255,99,132,0.2)
        border-color: rgba(255,99,132,1)

    .legend-label .title
      color: #999
      font-weight: 300
      font-size: 13px
