body
  overflow-y: scroll

main.container-fluid
  +phone
    margin: 0 10px

.dashboard-layout
  #map
    height: 360px

  h3
    margin-top: 10px
    font-size: 14px
    font-weight: 700

  .map-section
    +phone
      padding: 0
      #map
        height: 320px

  li.active a
    font-weight: bold
    color: black

.chart-section
  +phone
    padding: 0
  h3
    margin-bottom: 15px
  .filter-block
    padding-bottom: 5px
    display: inline-block
    // padding-left: 40px

.road-kinds-section
  ul.kinds-list
    padding-left: 0
    li
      list-style-type: none
    a
      font-size: 13px
      color: black
    .marker
      display: inline-block
      width: 12px
      height: 12px
      border: 4px solid gray
      border-radius: 50%
      vertical-align: -1px
    li.active .marker
      width: 0
      height: 0
      border-radius: 0
      border-top: 6px solid transparent !important
      border-left: 12px solid gray
      border-right: none !important
      border-bottom: 6px solid transparent !important

  +phone
    h3
      text-align: center
      margin-top: 15px
    ul.kinds-list
      padding-left: 0
      text-align: center
      li
        display: inline-block
        padding-right: 6px
        &.active a
          font-weight: normal
        &:before
          content: '•'
          padding-right: 2px

#countries-menu
  position: absolute
  top: 52px
  left: 20px
  background: white
  z-index: 20000
  padding: 1em
  border: 1px solid #ccc
  // max-height: 480px
  overflow-y: scroll
  overflow-x: hidden

  li
    margin-bottom: 0.25em

.dashboard-filter
  margin: 8px 0
  .input-group.date
    +non-phone
      width: 150px

  +phone
    margin: 24px 0
    button.apply
      width: 100%
      margin: 5px auto

  label
    font-weight: 500
    padding-right: 10px

.datepicker-dropdown
  +phone
    width: 100%
    .table-condensed
      width: 100%

.dash-title
  margin-bottom: 20px

.map-section
  margin: 20px 0 40px

.navbar-form .input-group input.searchbox
  width: 200px
  +phone
    width: 100%

.navbar-collapse.in
  overflow-y: visible

span.twitter-typeahead .tt-menu, span.twitter-typeahead .tt-dropdown-menu
  min-width: 200px
  overflow-x: hidden
  +phone
    width: 100%
