%nav.navbar.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar")
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand(href=root_path) OpenStreetMap Stats
      <a class="navbar-brand" target="_blank" href="/about.html">About</a>
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
      %ul.nav.navbar-nav.navbar-right
        %form#search-form(class="navbar-form navbar-right")
          %div(class="form-group")
            .input-group
              %span(class="input-group-addon")
                %span(class="glyphicon glyphicon-search")
              %input(type="text" class="form-control typeahead searchbox" placeholder="Search countries")
              .input-group-btn
                %button(type="button" class="btn btn-default btn-show-countries-menu")
                  %span(class="glyphicon glyphicon-menu-down")
