doctype html
html
  head
    title OpenStreetMap Stats
    meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" 
    meta name="auth0-client-id" content=Rails.application.secrets.oauth0['client_id']
    meta name="auth0-domain" content=Rails.application.secrets.oauth0['domain']
    = yield :head
    = csrf_meta_tag

    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = javascript_include_tag '//www.open-geo-ip.com/api.js'

  body class=controller_css_classes 

    #navbar.navbar-collapse.collapse
      = render "layouts/public_nav"

    #countries-menu.countries-dd style='display: none'
      .countries-list.row 
        - ISO3166::Country.all.sort_by { |c| I18n.transliterate c.short_name }.in_groups(4, false).each do |group|
          ul.col-sm-3.list-unstyled
            - group.each do |country|
              li= link_to country.short_name, country_dashboard_path(country.alpha2.downcase), 
                  data: { country: country.alpha2.downcase }

    main.container-fluid
      = yield
